*{
    margin: 0;
    padding: 0;
}
body{
    background: #333;
}
@media screen and (min-width: 980px){
	.content .box{
		width: 205px;
		height:220px;
		float: left;
		margin:0 60px;
	}
}

@media screen and (max-width: 600px){
	.content .box{
		width: 205px;
		height:220px;
	}
}
.content{
    width: 1000px;
    height: 400px;
    margin: 50px auto;
}
.content .box{
    width: 205px;
    height: 220px;
    float: left;
    margin: 0 60px;
}
.box-mission .icon{
    width: 174px;
    height: 155px;
    display: block;
    background: url("./img/mission.png") no-repeat;
    margin: 0 auto;
    transition: all 0.2s;
}
.box-mission .icon:hover{
    transform: scale(1.1) rotate(360deg);
}

.box-play .icon{
    width: 174px;
    height: 155px;
    display: block;
    background: url("./img/play.png") no-repeat;
    margin: 0 auto;
    transition: all 0.2s;
}
.box-play .icon:hover{
    transform: scale(1.1) rotate(360deg);
}

.box-touch .icon{
    width: 174px;
    height: 155px;
    display: block;
    background: url("./img/touch.png") no-repeat;
    margin: 0 auto;
    transition: all 0.2s;
}
.box-touch .icon:hover{
    transform: scale(1.1) rotate(360deg);
}

.box .button{
    width: 156px;
    height: 45px;
    line-height: 45px;
    display: block;
    background: url("./img/allow.png") no-repeat 130px center;
    margin: 20px auto;
    font-family: "微软雅黑";
    font-size: 18px;
    font-weight: bolder;
    color: #2ecc71;
    text-decoration: none;
    padding-left: 20px;
    border: 2px solid rgba(255,255,255,0.8);
    transition: all 0.2s ease;
    position: relative;
}
.box .button:hover{
    background-position: 140px center;
    border:2px solid rgba(255,255,255,1)
}

.box .line{
    background-color: #FFF;
    display: block;
    position: absolute;
    transition:all 0.2s ease;
}

.box .line-top{
    width: 0px;
    height: 2px;
    top: -2px;
    left: -100%;
}
.box .button:hover .line-top{
    width: 180px;
    left: -2px;
}

.box .line-bottom{
    width: 0px;
    height: 2px;
    bottom: -2px;
    right: -300px;
}
.box .button:hover .line-bottom{
    width: 180px;
    right: -2px;
}

.box .line-left{
	width: 2px;
	height:0px;
	bottom:-100%;
	left:-2px;
}

.box .button:hover .line-left{
	height:48px;
	bottom:-2px;
}

.box .line-right{
	width: 2px;
	height:0px;
	top:-100%;
	right:-2px;
}

.box .button:hover .line-right{
	height: 48px;
	top:-2px;
}
